# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Misc
*.log
.DS_Store
*.html
!404.html
!index.html
!500.html
!base.html
!job_details.html
!profile_upload.html
!relay-greetings.html
!results-greetings.html
!results.html
!search_config.html
!search.html
!send-greetings.html
*.pdf
*.txt 
!AI Job Search Design_250115_110822.pdf
